@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);

:root {
    --main-blue: #2678d1;
    --main-green: #a0db34;
    --main-darkgreen: #77b800;
    --main-gray: #ffffff7f;
    --main-black: #191c1f;
    --main-white: #fafafaff;
}
.navigation-mobile {
    display: none;
}
body {
    font-family: 'Manrope', sans-serif;
    margin: 0;
    height: 100%;
}

.wrapper {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.site-header {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    align-items: center;
    padding-top: 10px;
}

.logo {}

.logo-img {
    max-width: 65px;
}

.navigation {}

.navigation-list {}

.navigation-list li {
    list-style: none;
    display: inline-block;
    padding: 13px;
}
.navigation-list li:hover {
    color: var(--main-blue);
}
.navigation-list li:active {
    color: var(--main-darkgreen);
}
.hero {
    background-image: url("file:///Users/mac/Desktop/Clini//img/Hero.png");
    justify-content: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: contain;
    width: 100%;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: top;
}

.btn {
    border: none;
    background-color: transparent;
    font-size: 16px;
}
.btn:hover {
    color:var(--main-blue);
    transition: 0.6s;
}

.btn-mn {
    font-size: 1.2rem;
    font-weight: 700;
}

.btn-cn {
    margin-top: 48px;
}

.blocks {
    gap: 4em;
    display: flex;
    padding-bottom: 4em;
    flex-direction: column;
}

.why {}

.block {
    display: flex;
    padding: 40px 40px 20px 40px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 24px;
    box-sizing: border-box;
}

.information {
    max-width: 50%;
}

.why-img {
    width: 50%;
}

.why-img img {
    max-width: 460px;
    max-height: 358px;
}
.why-img img:hover {
    max-width: 465px;
    max-height: 363px;
    transition: 1s;
}
.phone {
    background-image: url("file:///Users/mac/Desktop/Clini/img/phone.webp");
    background-size: cover;
    background-repeat: no-repeat;
    height: 363px;
}

.phone-block {
    color: white;
}

.btn-cn {}

.btn-ph-cn {
    color: white;
    margin-top: 48px;
    padding: 11px;
}
h1 {
    font-size: 5rem;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 2em;
}

h2 {
    font-size: 44px;
    margin-bottom: 10px;
}
 
h3 {
    font-size: 24px;
    font-weight: 800;
    line-height: 1.5;
    color:var(--main-gray);
    margin-top: 4em;
}
h4 {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 700;
    margin-top: 1em;
    margin-bottom: 0;
    color: var(--main-gray);
}

p {
    font-size: 15px;
    line-height: 1.7;
    margin-top: 0;
}
.cards-price-text {
    font-weight: 800;
}
.options {
    background-color: #191c1f;
    padding-top: 1em;
}

.footer-header {
    margin-top: 0em;
    color:var(--main-white);
}

.ft-btn {
    border-radius: 10px;
    background: var(--main-white);
    color: var(--main-black);
    padding: 10px 20px;
}
.ft-btn:hover {
    color: white;
    background-color: var(--main-blue);
}
.card {
    background-color: white;
    color: black;
    border-radius: 24px;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: initial;
    padding: 0px 20px 10px 24px;
    box-sizing: border-box;
    min-height: 295px;
}
.card h4 {
    font-size: 24px;
    color:var(--main-black);
}
.btn-arrow-section{
    margin-top: auto;
padding: 0px 10px 10px 10px;
text-align: left;
align-items: right;
display: flex;
justify-content: right;
}
.footer-card-text {
    font-size: 12px;
    line-height: 1.5;
    font-weight: normal;
}
.options-section {
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
}

footer {
    background-color: #191c1f;
    color: #9d9d9d;
    font-size: 14px;
    line-height: 1.9;
}

.footer-items {
    display: flex;
    padding-top: 50px;
    padding: 10em 0em 5em 0em;
    justify-content: center;
    align-items: baseline;
    gap: 7em;
}

ul>li {
    list-style: none;
}

.footer-item {
    max-width: 25%;
}

i {
    padding: 5px;
    font-size: 18px;
}

button>i {
    font-size: .875rem;
}

.btn-arw:hover {
    background-color: var(--main-blue);
    color: white;
    transition: 0.6s;
}

.btn-arw {
    border-radius: 50%;
    width: 30px;
    border: none;
    background-color: white;
    color: var(--main-blue);
}

.hero-2 {
    box-shadow: none;
}

.hero-2-row-1 {
    display: flex;
    gap: 12px;
    padding-right: 20px;
    align-items: baseline;
}


.hero-2-row-2 {
    display: flex;
    gap: 12px;
    margin-top: 10px;
    padding-right: 20px;
}

.hero-2-row-1-img-1 {
    width: 200px;
}
.hero-2-row-1-img-1:hover {
    width: 210px;
    transition: 1s;
}
.hero-2-row-1-img-2 {
    width: 200px;
    height: 230px;
}
.hero-2-row-1-img-2:hover {
    width: 205px;
    height: 235px;
    transition: 1s;
}
.hero-2-row-1-img-3 {
    width: 200px;
    height: 230px;
}
.hero-2-row-1-img-3:hover {
    transition: 1s;
    width: 205px;
    height: 235px;
}
.hero-2-row-1-img-4 {
    width: 200px;
}
.hero-2-row-1-img-4:hover {
    transition: 1s;
    width: 205px;
    height: ;
}

.hero-2-row-1 img {
    border-radius: 24px;
}

.hero-2-row-2 img {
    border-radius: 24px;
}

.hero-2-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.clients {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    box-shadow: none;
}
.client-text {
    background-image: url('file:///Users/mac/Desktop/Clini//img/quote.png');
    font-size: 16px;
line-height: 1.7;
margin-top: 0;
background-size: cover;
background-repeat: no-repeat;
min-height: ;
z-index: 1;
padding: 72px;
margin-bottom: 0;
}

.clients-images {
    width: 80px;
    gap: 15px;
    padding: 20px;
}
.clients-img {
    display: flex;
    justify-content: row;
    flex-direction: row;
    justify-content: initial;
    align-items: center;
}
.active-client {
    flex-direction: row;
display: flex;
align-items: center;
}
.active {
    width: 130px;
    transition: 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-item:nth-child(3){
    color:var(--main-white);
}
.footer-item a{
    color:var(--main-blue);
}
.clients-text-0,.clients-text-1,.clients-text-2,.clients-text-3,.clients-text-4, .clients-text-5{
    text-align: center;
}
@media (max-width:600px) {
    .navigation-list {
        display: none;
    }
    *{overflow: auto;}
.hero {
    width: 100%;
    height: 100vh;
    margin-top: 90px;
    background-image: url('https://clini.io/wp-content/uploads/2023/01/mobile.webp');
    background-size: contain;
}
    h1 {
        font-size: 2.75rem;
text-align: center;
margin-bottom: 5px;
margin-top: 6em;
    }
    .block {
        flex-direction: column;
        box-sizing: border-box;
        margin: 20px;
    }
    .information {
        max-width: 100%;
      }
    .blocks {
        max-width: 100%;
        gap: 1em;
    }
    .why-img {
        width: 100%;
        order: 2;
        display: flex;
justify-content: center;
      }
      .why-img img:hover {
        transition: 1.7s;
        width: 70%;
      }
      .why-img img {
        max-width: 280px;
      }
    .options-section {
        flex-direction: column;
        padding: 20px 50px 50px 50px;
        gap: 20px;
    }
    h2 {
        font-size: 33px;
margin-bottom: 10px;
        text-align: left;
      }
      .options h2 {
        text-align: center;
      }
      .clients-img {
        overflow: hidden;
      }
      .footer-items { 
        flex-direction: column;
        gap: 1em;
        display: flex;
        flex-direction: column;
        padding: 7em 0em 5em 0em;
      }
      .footer-item {
        max-width: 100%;
      }
        .card {
            width: 100%;
            padding: 20px;
        }
    .hero p {
        font-size: 11pt;
    }
    .wrapper {
        max-width: 100%;}
        h3 { margin-top: 1em;}
.hero-2-images {
    display: flex;
    order: 2;
    flex-direction: column;
}
           .hero-2-info {
            padding-bottom: 2em;
           }
           .navigation-mobile {
            display: inline;
           }
           .site-header {
            top: 0;
            position: fixed;
            display: flex;
justify-content: space-between;
min-width: 100%;
align-items: center;
padding-top: 10px;
z-index: 9999;
background-color: white;
           }
           .logo-img  {
            padding: 5px 5px 5px 10px;
           }
           .navigation-mobile i {
            padding: 5px 25px 5px 5px;
            font-size: 28px;
           }
           .clients-quote {
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
padding: 20px;
border-radius: 30px;
           }
           .client-text {
            padding: 0;
            background-image: none;
           }
           .phone {
            background-image: url("file:///Users/mac/Desktop/Clini/img/phone.webp");
background-size: 477px;
background-repeat: no-repeat;
height: 590px;
background-position-x: -25px;
background-position: bottom;
background: 323c46;
background-color: #323c46;
           }
 .clients-images.0,.clients-images.1 {
    display: none;
 }
 .clients {
    overflow: hidden;
 }
 .clients-img:nth-child(2){
    display: none;
 }
 div.clients-card:nth-child(2) {
    display: none;
 }
 .navigation-list-mobile {
    display: none;
 }
}

hr {
    display: block;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    border-style: inset;
    border-width: 1px;
    width: 80px;
}

/*Burger-Menu*/

.menu {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 25px;
}
.menu span {
    margin: 0 auto;
    position: relative;
    top: 12px;
}

.menu span:before, .menu span:after {
    position: absolute;
    content: '';
}
.menu span, .menu span:before, .menu span:after {
    width: 30px;
    height: 6px;
    background-color: white;
    display: block;
}
.menu span:before {
    margin-top: -12px;
}
.menu span:after {
    margin-top: 12px;
}

/*Fake-Trigger*/
#sized {
    width:60px;
    height:50px;
    color:transparent;
    background-color: transparent;
    border: transparent;
}

/*Modal-Box*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding:0.5%;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    margin-left: 2em;
}

.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 100%;
    height: 98vh;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    background-color: white;
}

.modal-header {
    padding: 2px 16px;
    background-color: white;
    border-bottom: none;
}

.modal-body {
    padding: 2px 16px;
    background-color: white;
}

.modal-footer {
    padding: 2px 16px;
    background-color: white;
    color: black;
    border-top: none;
    text-align: center;
}

.close {
    color: var(--main-green);
    float: left;
    font-size: 4em;
    font-weight: bold;
    opacity: 1;
}

.close:hover,
.close:focus {
    color: var(--main-blue);
    text-decoration: none;
    cursor: pointer;
}

@-webkit-keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
}

.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}

.animated {
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


/*Navigation Inner Styling*/

.nav ul li a:hover{
    text-decoration: none;
    color: var(--main-green);
}

.nav ul li a{
    padding: 16px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 25px;
    color:var(--main-blue);
}

.nav ul li{
    display: flex;
    font-size: 3em;
}

.nav ul{
    clear: both;
    width: 100%;
    padding-left: 0;
    text-align: center;
}
.fa-bars {
    color: black;
}
}