@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);

body {
    font-family: 'Manrope', sans-serif;
    margin: 0;
    height: 100%;
}

.wrapper {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.site-header {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    align-items: center;
}

.logo {}

.logo-img {
    max-width: 80px;
}

.navigation {}

.navigation-list {}

.navigation-list li {
    list-style: none;
    display: inline-block;
    padding: 15px;
}

.hero {
    background-image: url("img/Hero.png");
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: contain;
    width: 100%;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: top;
}

.btn {
    border: none;
    background-color: transparent;
    font-size: 16px;
}

.btn-mn {
    font-size: 1.2rem;
    font-weight: 700;
}

.btn-cn {
    margin-top: 48px;
}

.blocks {
    gap: 4em;
display: flex;
padding-bottom: 4em;
flex-direction: column;
}

.why {}

.block {
    display: flex;
    padding: 40px 40px 20px 40px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 24px;
}

.information {
    max-width: 50%;
}

.why-img {
    width: 50%;
}

.why-img img {
    width: 100%;
}

.phone {
    background-image: url("img/phone.webp");
background-size: cover;
background-repeat: no-repeat;
}
.phone-block {
    color: white;
}
.btn-cn {}

.btn-ph-cn {
    color: white;
    margin-top: 48px;
}
h1 {
    font-size: 5rem;
    text-align: center;
    margin-bottom: 5px;
}
h2 {
    font-size: 44px;
}

p {
    font-size: 16px;
    line-height: 1.7;
}
.options {
    background-color: #191c1f;
}
.card {
  background-color: white;
  color: black;
  border-radius: 24px;
  min-width: 25%;
  gap: 9px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 20px 10px 24px;
}
.options-section {
    display: flex;
justify-content: space-between;
padding: 50px 0px 0px 0px;
gap: 33px;
}
footer {
    background-color:#191c1f;
    color: #9d9d9d;
    font-size: 14px;
    line-height: 1.9;
}
.footer-items {
    display: flex;
    padding-top: 50px;
    padding: 4em 0em 0em 0em;
    justify-content: center;
    align-items: baseline;
    gap: 7em;
}
ul > li {
    list-style: none;
}
.footer-item {
    max-width: 25%;
}
i {
    padding: 5px;
    font-size: 18px;
}
button > i {
    font-size: .875rem;
}

.btn-arw:hover {
    background-color: #2678d1;
    color: white;
    transition: 0.6s;
}
.btn-arw {
    border-radius: 50%;
width: 30px;
border: none;
background-color: white;
color: #2678d1;
}
.hero-2 {
    box-shadow: none;
}
.hero-2-row-1 {
    display: flex;
gap: 12px;
padding-right: 20px;
align-items: baseline;
}
.hero-2-row-2 {
    display: flex;
gap: 12px;
margin-top: 10px;
padding-right: 20px;
}
.hero-2-row-1-img-1 {
    width: 200px;
}
.hero-2-row-1-img-2 {
    width: 200px;
    height: 230px;
}
.hero-2-row-1-img-3 {
    width: 200px;
    height: 230px;
}
.hero-2-row-1-img-4 {
    width: 200px;

}
.hero-2-row-1 img {
    border-radius: 24px;
}
.hero-2-row-2 img {
    border-radius: 24px;
}
.hero-2-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.clients {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    box-shadow: none;
}
.clients-images {
    width: 150px;
}